body {
    font-family: 'Dancing Script', cursive;
}
.my_image {
    background: url(my_image.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.my_wrapper {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.my_wrapper h1 {
    font-size: 2.5rem;
    text-align: center; 
}
.food_code{
    text-align: center;
}
.food_code .find_food{
    display: block;
    width: 80;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    outline: none;
}
.food_code .button {
    width: 40%;
    text-align: center;
    margin: 1rem auto 0rem;
    background-color: aquamarine;
    color: white;
    padding: .6rem;
    border: none;
    border-radius: .3rem;
}
/*Utility Classes*/
.image-size {
    max-width: 100%;
}

.product {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.product_list {
    float: left;
    width: 20%;
    margin-left: 2rem;
}

@media screen and (max-width: 700px) {
    .product_list {
        width: 100%;
        float: none;
    }
}